@using Northwind.Models
@model IEnumerable<Discount>
@{
    ViewBag.Title = "Home";
}

<!--new Index Starts below jumboTron-->
<div class="ImageSlider" style="align-content:inherit">

    <img class="mySlides" src="~/Images/Drinks.jpg" style="width:90%; height: 600px;">
    <img class="mySlides" src="~/Images/Confections.png" style="width:90%; height: 600px;">
    <img class="mySlides" src="~/Images/Condiments.png" style="width:90%; height: 600px;">
    <img class="mySlides" src="~/Images/Dairy.png" style="width:90%; height: 600px;">
</div>


<div class="row">
    @foreach (Discount d in Model)
    {
        <br />
        <div class="col-lg-4">
            <img width="140" height="140" class="img-rounded" alt="chai Tea" src="~/Images/chai.png" />
            <h2 class="font-md">@d.Title</h2>
            <hr class="hr-special" />
            <p>
                @d.Description
            </p>
            <p><i>Discount Expires: @string.Format("{0:MM/dd/yyyy}", @d.EndTime)</i></p>
            <a class="special" data-container="body" data-toggle="popover" dataplacement="right"
               data-content="@d.Code">
                <i class="fa fa-hand-o-right"></i> Discount Code
            </a>
        </div>
        <div class="col-lg-4">
            <img width="140" height="140" class="img-rounded" alt="chai Tea" src="~/Images/SchoggiSchokolade.png" />

            <h2 class="font-md">Half Price</h2>
            <hr class="hr-special" />
            <p>
                Just because you can't pronounce "Schoggi Schokolade" doesn't mean you shouldn't buy it. Get it now for 50% off!
            </p>
            <p><i>Discount Expires: 12/11/2017</i></p>
            <a class="special" data-container="body" data-toggle="popover" dataplacement="right"
               data-content="2727">
                <i class="fa fa-hand-o-right"></i> Discount Code
            </a>
        </div>
        <div class="col-lg-4">
            <img width="140" height="140" class="img-rounded" alt="chai Tea" src="~/Images/pie.png" />

            <h2 class="font-md">Pie Day</h2>
            <hr class="hr-special" />
            <p>
                Did someone say French Canadian Sugar Pie is 30% off?
            </p>
            <p><i>Discount Expires: 12/11/2017</i></p>
            <a class="special" data-container="body" data-toggle="popover" dataplacement="right"
               data-content="6200">
                <i class="fa fa-hand-o-right"></i> Discount Code
            </a>
        </div>
    }
</div>
<hr class="hr-special" />
<div class="font-md">
    <a href="~/Product/Discounts"><i class="fa fa-tags"></i> Display All Discounts</a>
    <h4>Don't worry we still have Discounts! Click the link above and start saving!</h4>
</div>
<br />
<hr />
<footer class="footer">
    <div class="container">
        <span class="text-center">.NetFinal Proj Northwind Store. <br />Matt D. Chris G. David D.</span>
    </div>
</footer>
@section scripts
{
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
       // $('.carousel').carousel();
    </script>
    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) { slideIndex = 1 }
            x[slideIndex - 1].style.display = "";
            setTimeout(carousel, 5000); // Change image every 5 seconds
        }
    </script>
}